{{#if user}}


<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img class="logo" src="/image/cooklogo1.png" width="180px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto ">
                <div class="container-fluid">
                    <li class="nav-item dropdown">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Categories
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/category/cuisine=Japanese">Japanese</a></li>
                            <li><a class="dropdown-item" href="/category/cuisine=Italian">Italian</a></li>
                            <li><a class="dropdown-item" href="/category/cuisine=Chinese">Chinese</a></li>
                            <li><a class="dropdown-item" href="/category/cuisine=Mediterranean">Mediterranean</a></li>
                            <li><a class="dropdown-item" href="/category/cuisine=Vietnamese">Vietnamese</a></li>
                            <li><a class="dropdown-item" href="/category/cuisine=Thai">Thai</a></li>
                            <li><a class="dropdown-item" href="/category/ingredient=Chicken">Chicken</a></li>
                            <li><a class="dropdown-item" href="/category/ingredient=Rice">Rice</a></li>
                            <li><a class="dropdown-item" href="/category/ingredient=Pasta">Pasta</a></li>
                            <li><a class="dropdown-item" href="/category/ingredient=Beef">Beef</a></li>
                            <li><a class="dropdown-item" href="/category/ingredient=Pork">Pork</a></li>
                            <li><a class="dropdown-item" href="/category/ingredient=Egg">Egg</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/bookmark">Bookmarks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/upload/upload-recipe">Uploads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/logout">Logout</a>
                    </li>
                    <li class="nav-item" style="padding-left: 5px;">
                        Hello {{user.username}}
                    </li>

            </ul>
        </div>
    </div>
    </div>
</nav>

{{else}}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img class="logo" src="/image/cooklogo1.png" width="180px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto ">

                <li class="nav-item dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Categories
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/category/cuisine=Japanese">Japanese</a></li>
                        <li><a class="dropdown-item" href="/category/cuisine=Italian">Italian</a></li>
                        <li><a class="dropdown-item" href="/category/cuisine=Chinese">Chinese</a></li>
                        <li><a class="dropdown-item" href="/category/cuisine=Mediterranean">Mediterranean</a></li>
                        <li><a class="dropdown-item" href="/category/cuisine=Vietnamese">Vietnamese</a></li>
                        <li><a class="dropdown-item" href="/category/cuisine=Thai">Thai</a></li>
                        <li><a class="dropdown-item" href="/category/ingredient=Chicken">Chicken</a></li>
                        <li><a class="dropdown-item" href="/category/ingredient=Rice">Rice</a></li>
                        <li><a class="dropdown-item" href="/category/ingredient=Pasta">Pasta</a></li>
                        <li><a class="dropdown-item" href="/category/ingredient=Beef">Beef</a></li>
                        <li><a class="dropdown-item" href="/category/ingredient=Pork">Pork</a></li>
                        <li><a class="dropdown-item" href="/category/ingredient=Egg">Egg</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/bookmark">Bookmarks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/login">Login</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

{{/if}}