<link rel="stylesheet" href="./css/error.css">



<div class="text">
    <div class="center">
        <div class="one">Sorry!!</div>
        <div class="two">This page requires you to login to Cooking Corner to access</div>
    </div>

</div>


{{!-- <h1>Login Authentication Failed</h1>
<a href="/">Try again</a> --}}