<h1> Home Page</h1>


 <div class="search">
      <form class="d-flex justify-content-center">
        <input class="typeahead form-control me-2" type="search" placeholder="Search recipes" aria-label="Search">
      </form>
    </div>

