<form id="addRecipeForm" class="text-center" method="post" action="/recipes/insert">
    <label for="rtitle">Title:</label><br>
    <input type="textarea" id="rtitle" class="form-control" name="title" type="text" placeholder="Title" value="testing_title01"/><br/><br/>

    <label for="rauthor">Author:</label><br>
    <input type="textarea" id="rauthor" class="form-control" name="author" type="text" placeholder="Author" value="testing_author01"/><br/><br/>

    <label for="rsummary">Summary:</label><br>
    <input type="textarea" id="rsummary" class="form-control" name="summary" type="text" placeholder="Summary" value="testing_summary01"/><br/><br/>
{{!--  --}}
    <label for="ringredientsid1">Ingredient 1:</label><br>
    <input type="textarea" id="ringredients" class="form-control" name="ingredientsid1" type="text" placeholder="1123" value="1123"/><br/><br/>

    <label for="rquantity1">Ingredient 1:</label><br>
    <input type="textarea" id="rquantity1" class="form-control" name="ingredientsid1" type="text" placeholder="10" value="10"/><br/><br/>

    <label for="runit1">Ingredient 1:</label><br>
    <input type="textarea" id="runit1" class="form-control" name="ingredientsid1" type="text" placeholder="" value=""/><br/><br/>

    <label for="ringredientsid2">Ingredient 2:</label><br>
    <input type="textarea" id="ringredients" class="form-control" name="ingredientsid2" type="text" placeholder="11215" value="11215"/><br/><br/>

    <label for="rquantity2">Ingredient 2:</label><br>
    <input type="textarea" id="rquantity2" class="form-control" name="ingredientsid2" type="text" placeholder="5" value="5"/><br/><br/>

    <label for="runit2">Ingredient 2:</label><br>
    <input type="textarea" id="runit2" class="form-control" name="ingredientsid2" type="text" placeholder="servings" value="servings"/><br/><br/>
{{!--  --}}
    <label for="rinstructions">Instructions:</label><br>
    <input type="textarea" id="rinstructions" class="form-control" name="instructions" type="text" placeholder="Instructions" value="01testing_instruction1@@02testing_instruction2"/><br/><br/>

    <label for="rpreparation_time">Preparation Time:</label><br>
    <input type="textarea" id="rpreparation_time" class="form-control" name="preparation_time" type="text" placeholder="preparation time" value="99"/><br/><br/>

    <label for="rimage_path">Image Path:</label><br>
    <input type="textarea" id="rimage_path" class="form-control" name="image_path" type="text" placeholder="image path" value="testing_image_path01"/><br/><br/>

    <label for="rservings">Serving:</label><br>
    <input type="textarea" id="rservings" class="form-control" name="servings" type="text" placeholder="servings" value="10"/><br/><br/>

    <label for="rdifficulty">Difficulty:</label><br>
    <input type="textarea" id="rdifficulty" class="form-control" name="difficulty" type="text" placeholder="difficulty" value="5"/><br/><br/>
    
    <button type="submit" class="btn btn-outline-dark waves-effect">Add Recipe</button>
</form>