
<div class="loginpage">
<div class="login text-center">
  <h1 class="text-white display-3">Login</h1>
    <form action="/login" method="post" style="display:block">
        <input class='login' type="text" name="username" placeholder="Username" required="required" id='username' />
        <input class='login' type="password" name="password" placeholder="Password" required="required" id='password'/>
        <button type="submit" class="btn btn-primary btn-block px-4">Login</button>
    </form>

        <a href="/signup">
        <button type="submit" class="btn btn-outline-dark waves-effect btn-block btn-large register">Sign Up</button>
        </a>
</div>
</div>

