<div class="container my-5 py-5 z-depth-1">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <div class="row d-flex justify-content-center">
            {{!-- Form --}}
            <form class="text-center" action="/signup" method="post">

                <p class="h4 mb-4">Sign up</p>
                {{!-- Username --}}
                <input type="text" name="username" class="form-control mb-4" placeholder="Username" required>

                <!-- Password -->
                <input type="password" name="password" class="form-control" placeholder="Password" required
/>
<br/>
<button type="submit" class="btn btn-outline-dark waves-effect">Sign up
                </button>
            </form>
        </div>
    </section>
</div>