<link rel="stylesheet" href="./css/signup.css">
<div class="border">
    <div class="loginpage">
        <div class="login text-center">
            <h1 class="text-black display-3" id="head">Sign Up</h1>
            <form action="/signup" method="post" style="display:block">
                <label for="username">Username</label>
                <input class='login' type="text" name="username" placeholder="Create a username" required="required"
                    id='username' />
                <label for="password">Password</label>
                <input class='login' type="password" name="password" placeholder="Create a password" required="required"
                    id='password' />
                <button type="submit" class="btn btn-secondary btn-block px-4" id="button">Sign Up</button>
            </form>

            <p id="sign">Or if you already have an account</p>
            <a href="/login">
                <button type="submit" class="btn btn-outline-dark waves-effect btn-block btn-large register"
                    id="signup">Login</button>
            </a>
        </div>
    </div>
</div>
</div>