* {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
}

body {
  height: 50vh;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  justify-content: center;
  background-color: #ebebeb;
  background: linear-gradient(0.25turn, #707070, #ebebeb);
}

.logo {
  position: absolute;
  height: 900px;
}

.border {
  border: black;
  padding-bottom: 50vh;
  margin-top: 40vh;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 3px 3px;
}

#head {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 500;
}

.loginpage {
  position: relative;
  width: 400px;
  background: white;
  padding: 60px 40px;
}

form {
  margin-bottom: 10px;
}

.login {
  margin-bottom: 20px;
}

.login,
form .button {
  position: relative;
  height: 50px;
  width: 100%;
}

.login input {
  height: 100%;
  width: 100%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 19px;
  transition: 0.4s;
}

input {
  padding: 10px;
  border-radius: 20px;
  font-size: 10px;
}

::placeholder {
  font-size: 15px;
}

.login label {
  pointer-events: none;
  color: grey;
  font-size: 16px;
  float: left;
}

#button {
  margin-top: 15px;
  border-radius: 20px;
  width: 50%;
  background-color: #913b45;
  border: none;
  margin-left: 80px;
  margin-bottom: 20px;
}

#faceb,
#goog {
  border-radius: 20px;
  border: none;
}

#goog:hover {
  background-color: #de5246;
}

#faceb:hover {
  background-color: #4267b2;
  color: white;
}

#signup {
  border: none;
  text-decoration: underline;
  outline: none;
}

#signup:hover {
  background-color: white;
  color: #0000ee;
}

a {
  text-decoration: none;
}

#sign {
  margin-top: 180px;
}

@media screen and (max-height: 966px) {
  #sign {
    margin-top: 100px;
  }
}

@media screen and (max-height: 849px) {
  #sign {
    margin-top: 20px;
  }
  .logo {
    position: absolute;
    height: 750px;
  }
  .border {
    padding-bottom: 40vh;
  }
}

@media screen and (max-height: 770px) {
  .border {
    padding-bottom: 40vh;
    margin-top: 20vh;
  }
}

@media screen and (max-height: 721px) {
  .border {
    padding-bottom: 45vh;
    margin-top: 20vh;
  }
}

@media screen and (max-height: 653px) {
  .border {
    padding-bottom: 50vh;
    margin-top: 20vh;
  }
  .logo {
    height: 700px;
  }
  .cc {
    width: 150px;
  }
}
