.hidden {
  display: none;
}

.info-container {
  max-width: 80%;
}

.info-container {
  flex-direction: column;
}

.review {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3px;
  padding-top: 3px;
  float: left;
}

.review_star {
  padding-bottom: 2rem;
  clear: both;
  text-align: center;
}

.review col-12 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* star rating */
fieldset,
label {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/
h1[alt="Simple"] {
  color: white;
}

/* body {
  background: #4a4a4c !important;
} */

.starrating > input {
  display: none;
} /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label {
  color: #575757; /* Start color when not clicked */
}

.starrating > input:checked ~ label {
  color: #dc143c;
} /* Set yellow color when star checked */

.starrating > input:hover ~ label {
  color: #dc143c;
} /* Set yellow color when star hover */

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.37rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.37);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.37rem;
  padding: 1rem;
  margin-top: 15px;
}
.own-review {
  border: #ffc000 2px solid;
}
